<h2>Git R Done!</h2>


<% @todos.each do |todo| %>
  <article>
    <li>
      <%= todo.description %>
      <span><a href="/todos/<%= todo.id %>">[edit]</a></span>
      <span><a href="/todos/<%= todo.id %>/delete">[delete]</a></span>
    </li>
  </article>
<% end %>


<div>
  <form action="/todos" method="post">
    <input type="text" name="description">
    <input type="submit">
  </form>
</div>
