body {
  margin: 0 auto;
  padding: 4em 1em;
  max-width: 50em;
  line-height:1.5;
  font-family: "Helvetica", "Arial", "sans-serif";
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

article {
  border: 1px solid #eee;
  border-top: none;
  padding: 15px 10px;
}

article:nth-child(even) {
  background: #fafafa;
}
